---
import { ViewTransitions } from "astro:transitions";
import Nabvar from "../components/Nabvar.astro";
import "../styles/global.css";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Nabvar />
    <h1>{title}</h1>
    <slot />
  </body><!-- este estilo si afecta al h1 dentro del body pero no al slot --><!-- salvo que yo ponga is:global, entonces afecta a todos los h1 -->
  <style>
    h1 {
      font-size: 2rem;
      color: red;
    }
  </style>
</html>
